In [2]:
#import statements
import pandas as pd;
from pathlib import Path;
from pyspark.sql import SparkSession

#libraries we could import

#ramp
#pi torch
#pip envy
#bob
#pi brain
#SQL library
#pi spark

In [3]:
#csv reads and data frame creation (we can also do this with sparks)
file_path1 = Path("../Oscar Data/Oscar Winners - Director.csv");
file_path2 = Path("../Oscar Data/oscars.csv");
file_path3 = Path("../Oscar Data/the_oscar_award.csv");

data_frame_direct = pd.read_csv(file_path1, encoding="UTF-8");
data_frame_actor = pd.read_csv(file_path2, encoding="UTF-8");
data_frame_oscar = pd.read_csv(file_path3, encoding="UTF-8");

In [4]:
#read verification
data_frame_oscar.tail();

,year_film,year_ceremony,ceremony,category,name,film,winner
10760,2022,2023,95,HONORARY AWARD,"To Euzhan Palcy, a masterful filmmaker who bro...",NaN,True
10761,2022,2023,95,HONORARY AWARD,"To Diane Warren, for her genius, generosity an...",NaN,True
10762,2022,2023,95,HONORARY AWARD,"To Peter Weir, a fearless and consummate filmm...",NaN,True
10763,2022,2023,95,GORDON E. SAWYER AWARD,Iain Neil,NaN,True
10764,2022,2023,95,AWARD OF COMMENDATION,To Ryan Laney for his innovative adaptation an...,Welcome to Chechnya,True

In [13]:
cat_list = data_frame_oscar['category'].unique()
cat_list.size
#attempt to iterate through the array and create an equal number of dataframes
for item in cat_list.size():
    data_frame_ = pd.DataFrame();

115

In [ ]:
#need to find a efficient convention to rename columns
data_frame_oscar.rename(columns = {})

In [ ]:
#working on a way to split the larger oscar database into smaller databases of like category
data_frame_actor = pd.DataFrame()
for entry in data_frame_oscar:
    #entry = data_frame_oscar[entry];
    for item in cat_list:
        if(entry['category']==item):
            {
            
        }