In [1]:
#Open libraries and csv in pandas 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import datetime
from scipy.stats import linregress
from pathlib import Path

In [2]:

#Create path
oscars_data = "/Users/adamsorokes/Documents/GitHub/Project-3Group-3/Oscar Data/oscars.csv"

# Create a DataFrame from the CSV file
oscars_data_df = pd.read_csv(oscars_data)

# show df head
print(oscars_data_df.head())

   oscar_no  oscar_yr         award            name  \
0         1      1929  Best actress    Janet Gaynor
1         2      1930  Best actress   Mary Pickford
2         3      1931  Best actress   Norma Shearer
3         4      1932  Best actress  Marie Dressler
4         5      1933  Best actress     Helen Hayes

                        movie  age       birth_pl  birth_date  birth_mo  \
0                  7th Heaven   22   Pennsylvania  1906-10-06        10
1                    Coquette   37         Canada  1892-04-08         4
2                The Divorcee   28         Canada  1902-08-10         8
3                Min and Bill   63         Canada  1868-11-09        11
4  The Sin of Madelon Claudet   32  Washington DC  1900-10-10        10

   birth_d  birth_y
0        6     1906
1        8     1892
2       10     1902
3        9     1868
4       10     1900

In [3]:
#import additional csv data into pandas
directors_data = "/Users/adamsorokes/Documents/GitHub/Project-3Group-3/Oscar Data/Oscar Winners - Director.csv"

# Create a DataFrame from the CSV file
directors_data_df = pd.read_csv(directors_data)

# Now 'df' is your DataFrame, you can work with it
print(directors_data_df.head())

   index    Year Gender   Race                       Director(s)  \
0      0  1928.0   Male  White  Frank Borzage (Dramatic Picture)
1      1  1928.0   Male  White  Herbert Brenon(Dramatic Picture)
2      2  1928.0   Male  White      King Vidor(Dramatic Picture)
3      3  1928.0   Male  White  Lewis Milestone (Comedy Picture)
4      4  1928.0   Male  White         Ted Wilde(Comedy Picture)

                  Film Nomination/Winner
0           7th Heaven            Winner
1      Sorrell and Son        Nomination
2            The Crowd        Nomination
3  Two Arabian Knights            Winner
4               Speedy        Nomination

In [4]:
#rename column from year to oscar_yr to be able to merge
directors_data_df = directors_data_df.rename(columns={'Year': 'oscar_yr'})

print(directors_data_df.head())

   index  oscar_yr Gender   Race                       Director(s)  \
0      0    1928.0   Male  White  Frank Borzage (Dramatic Picture)
1      1    1928.0   Male  White  Herbert Brenon(Dramatic Picture)
2      2    1928.0   Male  White      King Vidor(Dramatic Picture)
3      3    1928.0   Male  White  Lewis Milestone (Comedy Picture)
4      4    1928.0   Male  White         Ted Wilde(Comedy Picture)

                  Film Nomination/Winner
0           7th Heaven            Winner
1      Sorrell and Son        Nomination
2            The Crowd        Nomination
3  Two Arabian Knights            Winner
4               Speedy        Nomination

In [5]:
#merge dataframes on oscar_yr
full_oscar_df = pd.merge(oscars_data_df, directors_data_df, on='oscar_yr', how='inner')

# Print the merged DataFrame
print(full_oscar_df)

     oscar_no  oscar_yr         award          name              movie  age  \
0           1      1929  Best actress  Janet Gaynor         7th Heaven   22
1           1      1929  Best actress  Janet Gaynor         7th Heaven   22
2           1      1929  Best actress  Janet Gaynor         7th Heaven   22
3           1      1929  Best actress  Janet Gaynor         7th Heaven   22
4           1      1929  Best actress  Janet Gaynor         7th Heaven   22
..        ...       ...           ...           ...                ...  ...
903        91      2019    Best actor    Rami Malek  Bohemian Rhapsody   37
904        91      2019    Best actor    Rami Malek  Bohemian Rhapsody   37
905        91      2019    Best actor    Rami Malek  Bohemian Rhapsody   37
906        91      2019    Best actor    Rami Malek  Bohemian Rhapsody   37
907        91      2019    Best actor    Rami Malek  Bohemian Rhapsody   37

         birth_pl  birth_date  birth_mo  birth_d  birth_y  index Gender  \
0    Pennsylvania  1906-10-06        10        6     1906      5   Male
1    Pennsylvania  1906-10-06        10        6     1906      6   Male
2    Pennsylvania  1906-10-06        10        6     1906      7   Male
3    Pennsylvania  1906-10-06        10        6     1906      8   Male
4    Pennsylvania  1906-10-06        10        6     1906      9   Male
..            ...         ...       ...      ...      ...    ...    ...
903    California  1981-05-12         5       12     1981    450   Male
904    California  1981-05-12         5       12     1981    451   Male
905    California  1981-05-12         5       12     1981    452   Male
906    California  1981-05-12         5       12     1981    453   Male
907    California  1981-05-12         5       12     1981    454   Male

      Race        Director(s)                           Film Nomination/Winner
0    White        Frank Lloyd                The Divine Lady            Winner
1    White   Lionel Barrymore                       Madame X        Nomination
2    White     Harry Beaumont            The Broadway Melody        Nomination
3    White    Irving Cummings                 In Old Arizona        Nomination
4    White        Frank Lloyd                           Drag        Nomination
..     ...                ...                            ...               ...
903  Asian       Bong Joon-ho                       Parasite            Winner
904  White         Sam Mendes                           1917        Nomination
905  White      Todd Phillips                          Joker        Nomination
906  White    Martin Scorsese                   The Irishman        Nomination
907  White  Quentin Tarantino  Once Upon a Time in Hollywood        Nomination

[908 rows x 17 columns]