In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
director_file = Path("cleaned_csv_files/director_cleaned.csv")
actress_file = Path("cleaned_csv_files/actress_cleaned.csv")
actor_file = Path("cleaned_csv_files/actor_cleaned.csv")
oscars_year_file= ("cleaned_csv_files/oscars_year_cleaned.csv")

# Read CSV files and store into Pandas DataFrames
director = pd.read_csv(director_file)
actress = pd.read_csv(actress_file)
actor = pd.read_csv(actor_file)
oscars_year = pd.read_csv(oscars_year_file)

In [3]:
# Print first few rows of each DataFrame with a message
print("\nFirst few rows of director DataFrame:")
print(director.head())

print("\nFirst few rows of actress DataFrame:")
print(actress.head())

print("\nFirst few rows of actor DataFrame:")
print(actor.head())

print("\nFirst few rows of oscars_year DataFrame:")
print(oscars_year.head())

First few rows of director DataFrame:
   year         director                           movie
0  1929    Frank Borzage                      7th Heaven
1  1930      Frank Lloyd                 The Divine Lady
2  1931  Lewis Milestone  All Quiet on the Western Front
3  1932           Skippy                   Norman Taurog
4  1933         Bad Girl                   Frank Borzage

First few rows of actress DataFrame:
   year         actress                       movie  age    birth_place  \
0  1929    Janet Gaynor                  7th Heaven   22   Pennsylvania
1  1930   Mary Pickford                    Coquette   37         Canada
2  1931   Norma Shearer                The Divorcee   28         Canada
3  1932  Marie Dressler                Min and Bill   63         Canada
4  1933     Helen Hayes  The Sin of Madelon Claudet   32  Washington DC

   birth_date
0  1906-10-06
1  1892-04-08
2  1902-08-10
3  1868-11-09
4  1900-10-10

First few rows of actor DataFrame:
   year             actor                           movie  age   birth_place  \
0  1929     Emil Jannings  The Way of All Flesh & The Las   44   Switzerland
1  1930     Warner Baxter                  In Old Arizona   40          Ohio
2  1931     George Arliss                        Disraeli   62       England
3  1932  Lionel Barrymore                     A Free Soul   53  Pennsylvania
4  1933     Fredric March         Dr. Jekyll and Mr. Hyde   35     Wisconsin

   birth_date
0  1884-07-23
1  1889-03-29
2  1868-04-10
3  1878-04-28
4  1897-08-31

First few rows of oscars_year DataFrame:
   year         director         actress             actor
0  1929    Frank Borzage    Janet Gaynor     Emil Jannings
1  1930      Frank Lloyd   Mary Pickford     Warner Baxter
2  1931  Lewis Milestone   Norma Shearer     George Arliss
3  1932           Skippy  Marie Dressler  Lionel Barrymore
4  1933         Bad Girl     Helen Hayes     Fredric March

In [4]:
# Merge director, actress, and actor DataFrames based on the "year" column
merged_data = pd.merge(director, actress, on="year", how="outer")
merged_data = pd.merge(merged_data, actor, on="year", how="outer")

# Merge the merged_data DataFrame with oscars_year DataFrame based on the "year" column
all_data = pd.merge(merged_data, oscars_year, on="year", how="outer")

# Display the first few rows of the final merged DataFrame
print("\nFirst few rows of the final merged DataFrame:")
print(all_data.head())

First few rows of the final merged DataFrame:
   year       director_x                         movie_x       actress_x  \
0  1929    Frank Borzage                      7th Heaven    Janet Gaynor
1  1930      Frank Lloyd                 The Divine Lady   Mary Pickford
2  1931  Lewis Milestone  All Quiet on the Western Front   Norma Shearer
3  1932           Skippy                   Norman Taurog  Marie Dressler
4  1933         Bad Girl                   Frank Borzage     Helen Hayes

                      movie_y  age_x  birth_place_x birth_date_x  \
0                  7th Heaven   22.0   Pennsylvania   1906-10-06
1                    Coquette   37.0         Canada   1892-04-08
2                The Divorcee   28.0         Canada   1902-08-10
3                Min and Bill   63.0         Canada   1868-11-09
4  The Sin of Madelon Claudet   32.0  Washington DC   1900-10-10

            actor_x                           movie  age_y birth_place_y  \
0     Emil Jannings  The Way of All Flesh & The Las   44.0   Switzerland
1     Warner Baxter                  In Old Arizona   40.0          Ohio
2     George Arliss                        Disraeli   62.0       England
3  Lionel Barrymore                     A Free Soul   53.0  Pennsylvania
4     Fredric March         Dr. Jekyll and Mr. Hyde   35.0     Wisconsin

  birth_date_y       director_y       actress_y           actor_y
0   1884-07-23    Frank Borzage    Janet Gaynor     Emil Jannings
1   1889-03-29      Frank Lloyd   Mary Pickford     Warner Baxter
2   1868-04-10  Lewis Milestone   Norma Shearer     George Arliss
3   1878-04-28           Skippy  Marie Dressler  Lionel Barrymore
4   1897-08-31         Bad Girl     Helen Hayes     Fredric March

In [5]:
# Optionally, you can save the merged DataFrame back to a CSV file
all_data.to_csv("all_data.csv", index=False)