In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
director_file = Path("C:/Users/Owner/Downloads/rescources/cleaned_csv_files/director_cleaned.csv")
actress_file = Path("C:/Users/Owner/Downloads/rescources/cleaned_csv_files/actress_cleaned.csv")
actor_file = Path("C:/Users/Owner/Downloads/rescources/cleaned_csv_files/actor_cleaned.csv")
movie_file = Path("C:/Users/Owner/Downloads/rescources/original_data/movie.csv")

# Read CSV files and store into Pandas DataFrames
director = pd.read_csv(director_file)
actress = pd.read_csv(actress_file)
actor = pd.read_csv(actor_file)
movie = pd.read_csv(movie_file)

In [2]:
# Drop the extra column
director = director.drop(columns=["movie"])

In [3]:
# Drop extra columns
actor = actor.drop(columns=["movie", "age", "birth_place", "birth_date"])

In [4]:
# Drop extra columns
actress = actress.drop(columns=["movie", "age", "birth_place", "birth_date"])

In [5]:
# Drop extra columns
movie = movie.drop(columns=["Award Category", "Producers"])

In [6]:
# Print first few rows of each DataFrame with a message
print("\nFirst few rows of director DataFrame:")
print(director.head())

print("\nFirst few rows of actress DataFrame:")
print(actress.head())

print("\nFirst few rows of actor DataFrame:")
print(actor.head())

print("\nFirst few rows of movie DataFrame:")
print(movie.head())

First few rows of director DataFrame:
   year         director
0  1928    Frank Borzage
1  1929      Frank Lloyd
2  1930  Lewis Milestone
3  1931    Norman Taurog
4  1932    Frank Borzage

First few rows of actress DataFrame:
   year         actress
0  1929    Janet Gaynor
1  1930   Mary Pickford
2  1931   Norma Shearer
3  1932  Marie Dressler
4  1933     Helen Hayes

First few rows of actor DataFrame:
   year             actor
0  1929     Emil Jannings
1  1930     Warner Baxter
2  1931     George Arliss
3  1932  Lionel Barrymore
4  1933     Fredric March

First few rows of movie DataFrame:
   year                            Film
0  1929                           Wings
1  1930             The Broadway Melody
2  1931  All Quiet on the Western Front
3  1932                        Cimarron
4  1933                     Grand Hotel

In [7]:
# Merge all DataFrames based on the "year" column
oscar_year = pd.merge(director, actress, on="year", how="outer")
oscar_year = pd.merge(oscar_year, actor, on="year", how="outer")
oscar_year = pd.merge(oscar_year, movie, on="year", how="outer")

# Display the first few rows of the merged DataFrame
print("\nFirst few rows of the merged DataFrame:")
print(oscar_year.head())

First few rows of the merged DataFrame:
   year         director         actress             actor  \
0  1928    Frank Borzage             NaN               NaN
1  1929      Frank Lloyd    Janet Gaynor     Emil Jannings
2  1930  Lewis Milestone   Mary Pickford     Warner Baxter
3  1931    Norman Taurog   Norma Shearer     George Arliss
4  1932    Frank Borzage  Marie Dressler  Lionel Barrymore

                             Film
0                             NaN
1                           Wings
2             The Broadway Melody
3  All Quiet on the Western Front
4                        Cimarron

In [8]:
# Optionally, you can save the merged DataFrame back to a CSV file
oscar_year.to_csv("oscar_year_data.csv", index=False)