In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
actor_file = Path("Resources/actor.csv")

# Read CSV files and store into Pandas DataFrames
actor = pd.read_csv(actor_file)

In [2]:
# Drop extra columns
actor = actor.drop(columns=["no", "award", "birth_mo", "birth_d", "birth_y"])

In [3]:
print("\nFirst few rows of oscars DataFrame:")
print(actor.head())

First few rows of oscars DataFrame:
   oscar_yr              name                           movie  age  \
0      1929     Emil Jannings  The Way of All Flesh & The Las   44
1      1930     Warner Baxter                  In Old Arizona   40
2      1931     George Arliss                        Disraeli   62
3      1932  Lionel Barrymore                     A Free Soul   53
4      1933     Fredric March         Dr. Jekyll and Mr. Hyde   35

       birth_pl  birth_date
0   Switzerland  1884-07-23
1          Ohio  1889-03-29
2       England  1868-04-10
3  Pennsylvania  1878-04-28
4     Wisconsin  1897-08-31

In [5]:
# Convert numerical columns to integers in oscars DataFrame
actor["age"] = pd.to_numeric(actor["age"], errors='coerce').astype('Int64')

In [6]:
# Save the cleaned DataFrame to a new CSV file
actor_oscars_file = "actorcleaned.csv"
actor.to_csv(actor_oscars_file, index=False)
print(f"Cleaned data saved to {actor_oscars_file}")

Cleaned data saved to actorcleaned.csv