In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
actor_file = Path("Resources/oscars.csv")

# Read CSV files and store into Pandas DataFrames
actor = pd.read_csv(actor_file)

In [2]:
# Drop extra columns
actor = actress.drop(columns=["no", "award", "birth_mo", "birth_d", "birth_y"])

In [3]:
print("\nFirst few rows of oscars DataFrame:")
print(actor.head())

First few rows of oscars DataFrame:
   year            name                       movie  age    birth_place  \
0  1929    Janet Gaynor                  7th Heaven   22   Pennsylvania
1  1930   Mary Pickford                    Coquette   37         Canada
2  1931   Norma Shearer                The Divorcee   28         Canada
3  1932  Marie Dressler                Min and Bill   63         Canada
4  1933     Helen Hayes  The Sin of Madelon Claudet   32  Washington DC

   birth_date
0  1906-10-06
1  1892-04-08
2  1902-08-10
3  1868-11-09
4  1900-10-10

In [4]:
# Convert numerical columns to integers in oscars DataFrame
actor["age"] = pd.to_numeric(actress["age"], errors='coerce').astype('Int64')

In [5]:
# Save the cleaned DataFrame to a new CSV file
actor_oscars_file = "actorcleaned.csv"
actor.to_csv(actor_oscars_file, index=False)
print(f"Cleaned data saved to {actor_oscars_file}")

Cleaned data saved to cleaned_oscars.csv