In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
actress_file = Path("Resources/actress.csv")

# Read CSV files and store into Pandas DataFrames
actress = pd.read_csv(actress_file)

In [2]:
# Drop extra columns
actress = actress.drop(columns=["oscar_no", "award", "birth_mo", "birth_d", "birth_y"])

In [3]:
print("\nFirst few rows of oscars DataFrame:")
print(actress.head())

First few rows of oscars DataFrame:
   oscar            yr                        name  movie            age  \
0   1929  Best actress                  7th Heaven     22   Pennsylvania
1   1930  Best actress                    Coquette     37         Canada
2   1931  Best actress                The Divorcee     28         Canada
3   1932  Best actress                Min and Bill     63         Canada
4   1933  Best actress  The Sin of Madelon Claudet     32  Washington DC

  birth_place  birth_date
0  1906-10-06          10
1  1892-04-08           4
2  1902-08-10           8
3  1868-11-09          11
4  1900-10-10          10

In [5]:
# Convert numerical columns to integers in oscars DataFrame
actress["age"] = pd.to_numeric(actress["age"], errors='coerce').astype('Int64')

In [6]:
# Save the cleaned DataFrame to a new CSV file
actress_oscars_file = "cleaned_oscars.csv"
actress.to_csv(actress_oscars_file, index=False)
print(f"Cleaned data saved to {actress_oscars_file}")

Cleaned data saved to cleaned_oscars.csv