In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
oscars_file = Path("Resources/oscars.csv")

# Read CSV files and store into Pandas DataFrames
oscars = pd.read_csv(oscars_file)

In [2]:
# Drop extra columns
oscars = oscars.drop(columns=["oscar_no","age","birth_pl", "birth_date", "birth_mo", "birth_d", "birth_y"])

In [2]:
oscars = oscars.rename(columns={"oscar_yr": "year"})

In [3]:
print("\nFirst few rows of oscars DataFrame:")
print(oscars.head())

First few rows of oscars DataFrame:
   oscar_no  year         award            name                       movie  \
0         1  1929  Best actress    Janet Gaynor                  7th Heaven
1         2  1930  Best actress   Mary Pickford                    Coquette
2         3  1931  Best actress   Norma Shearer                The Divorcee
3         4  1932  Best actress  Marie Dressler                Min and Bill
4         5  1933  Best actress     Helen Hayes  The Sin of Madelon Claudet

   age       birth_pl  birth_date  birth_mo  birth_d  birth_y
0   22   Pennsylvania  1906-10-06        10        6     1906
1   37         Canada  1892-04-08         4        8     1892
2   28         Canada  1902-08-10         8       10     1902
3   63         Canada  1868-11-09        11        9     1868
4   32  Washington DC  1900-10-10        10       10     1900

In [5]:
# Convert numerical columns to integers in oscars DataFrame
oscars["age"] = pd.to_numeric(oscars["age"], errors='coerce').astype('Int64')
oscars["birth_mo"] = pd.to_numeric(oscars["birth_mo"], errors='coerce').astype('Int64')
oscars["birth_d"] = pd.to_numeric(oscars["birth_d"], errors='coerce').astype('Int64')
oscars["birth_y"] = pd.to_numeric(oscars["birth_y"], errors='coerce').astype('Int64')

In [7]:
# Save the cleaned DataFrame to a new CSV file
award_oscars_file = "cleaned_oscars.csv"
oscars.to_csv(award_oscars_file, index=False)
print(f"Cleaned data saved to {award_oscars_file}")

Cleaned data saved to cleaned_oscars.csv